@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



h3 {
    font-family: 'Josefin Sans', sans-serif;
}

.box {
    padding: 60px 0px;
    display: inline-block;
    
}

.box-part {
    background: #FFF;
    border-radius: 10px;
    padding: 60px 10px;
    margin: 30px 0px;
    max-height: 320px;
}

    .box-part:hover {
        background: #4183D7;
    }

        .box-part:hover .fa,
        .box-part:hover .title,
        .box-part:hover .text,
        .box-part:hover a {
            color: #FFF;
            -webkit-transition: all 1s ease-out;
            -moz-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            transition: all 1s ease-out;
        }

.text {
    margin: 20px 0px;
}

.fa {
    color: #4183D7;
}